body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: white;
  margin: 8px 8px 1.5em 8px; /*make room for footer */
  padding: 0;
}
input, button, select, option, textarea {
  font-size: inherit;
  font-family: inherit;
}
button {
  border: none;
  outline: none;
  padding: 0.4em 0.6em;
  margin: 0;
  text-align: center;
}
button:disabled {
  pointer-events: none;
  background-color: #eeeeee;
  color: #666666;
}
.spacer {
  flex: 1;
}

.LineChart {
  border-left-width: 65px;
  border-bottom-width: 60px;
}
.x-axis {
  bottom: -60px;
  height: 58px;
  border-top-width: 2px;
}
.y-axis {
  left: -63px;
  width: 63px;
  border-right-width: 2px;
}

main {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 500px 1fr 320px;
  grid-template-rows: auto;
  gap: 0.5em;
  grid-template-areas: "stat hist hist"
                       "conf conf mod";
}
#nav_menu {
  display: none;
}
#nav_actions{
  display: flex;
  align-items: stretch;
}
button.nav_menu {
  font-size: 26px;
  padding: 0 0.8em;
}
.waitbar_inf{
  animation: 3s linear 0s infinite normal waitbar_infinite;
}
#hist_container {
  height: 500px;
  display: flex;
  flex-direction: row;
}
#hist_legend {
  height: 100%;
  width: 7em;
  flex-direction: column;
}
#hist_legend div {
  margin-bottom: 1em;
}
@media screen and (max-width: 1280px) {
  main {
    grid-template-columns: 1fr 320px;
    grid-template-areas: "stat stat"
                         "hist hist"
                         "conf mod";
  }
}
@media screen and (max-width: 960px) {
  body {font-size: 16px;}
  main {grid-template-columns: 1fr 250px;}
  #hist_container {height: 400px;}
  .LineChart {border-left-width: 50px; border-bottom-width: 45px;}
  .x-axis {bottom: -44px; height: 44px; border-top-width: 1px;}
  .y-axis {left: -49px; width: 49px; border-right-width: 1px;}
}
@media screen and (max-width: 800px) {
  body {margin: 0 0 1.5em 0;}
  main {margin: 0 6px 0 6px;}
  #nav_menu{display: flex;}
  #nav_actions{display: none;}
  .waitbar_inf{animation-duration: 2s;}
}
@media screen and (max-width: 600px) {
  body {font-size: 12px;}
  main {
    grid-template-columns: 1fr;
    grid-template-areas: "stat"
                         "hist"
                         "conf"
                         "mod";
  }
  #hist_container {height: 300px; flex-direction: column;}
  #hist_legend {height: 30px; width:100%; min-width: 310px; flex-direction: row;}
  #hist_legend div {margin-right: 5px; margin-bottom: 0;}
  .LineChart {border-left-width: 40px; border-bottom-width: 35px;}
  .x-axis {bottom: -35px; height: 34px;}
  .y-axis {left: -29px; width: 29px;}
  button.nav_menu {font-size: 20px;}
}

.logo_base {
  stroke: #19100F;
}
.logo_decorate {
  stroke: #006A07;
}

#wait_bar {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 4px;
  background-color: navy;
}
@keyframes waitbar_infinite {
  0% { left: 0; width: 0; }
  20% { left: 0; width: 66% }
  30% { left: 20%; width: 80% }
  70% { left: 100%; width: 0; }
  71% { left: 0; width: 0; }
  90% { left: 0; width: 66%; }
  100% { left: 100%; width: 0; }
}
nav {
  position: relative;
  display: flex;
  align-items: stretch;
  box-shadow: 0 4px 8px 0 rgba(128,128,128,0.5);
}
nav .nav_elt {
  flex: none;
}
nav a, nav button {
  text-decoration: none;
  padding: 0.6em 0.8em;
  cursor: pointer;
}
nav svg {
  display: block;
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
}
nav .home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8em;
}
.dropdown {
  position: relative;
  display: flex;
  align-items: stretch;
}
.dropdown-content {
  position: absolute;
  top: 100%;
  box-shadow: 0 0.4em 0.8em 0 rgba(0,0,0,0.5);
  z-index: 1;
}
#actions_dropdownContent {
  right: 0;
}
#actions_dropdownContent button {
  right: 0;
  min-width: 9em;
  white-space: nowrap;
  text-align: left;
}
#srm_dropdownContent {
  left: 0;
  background-color: #f9f9f9;
  width: 100%;
}
#srm_dropdownContent button {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 0.8em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: solid #777 1px;
  padding: 0 0 0.2em 1em;
  color: #777;
  background-color: white;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

#editionPanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.edit_elt {
  margin: 0.8em;
}
.edit_button {
  padding: 0.6em 1em;
  background-color: #DCDCDC;
}
.edit_button:hover, .edit_button:active {
  background-color: #B8B8B8;
}
.edit_buttonEm {
  padding: 0.8em 1.2em;
  margin: 1em;
  font-size: 1.2em;
  background-color: #A9A9A9;
}
.edit_buttonEm:hover, .edit_buttonEm:active {
  background-color: #808080;
}
.editable:hover {
  color: #F8A600;
  cursor: pointer;
}
.faded {
  color: #888888;
}
.edited {
  color: #E58500;
  text-decoration: underline;
}
#messageDisp {
  display: none;
  position: fixed;
  bottom: 4em;
  right: 2em;
  text-align: center;
  padding: 1em 2em;
  background-color: lightgrey;
  border: solid 1px;
}
.msg_error {
  color: darkred;
  border-color: red;
}
.msg_info {
  color: darkgreen;
  border-color: green;
}

#status {
  /*background-color: yellow;*/
  grid-area: stat;
  text-align: center;
}
#history {
  /*background-color: blue;*/
  grid-area: hist;
  text-align: center;
}
#conf {
  /*background-color: green;*/
  grid-area: conf;
  text-align: left;
}
#changePanel {
  /*background-color: red;*/
  grid-area: mod;
  border: 0.2em solid;
  border-radius: 2em 0.5em;
  text-align: center;
}

#refresh {
  display: inline-block;
  margin-top: 1em;
  font-size: 0.8em;
}
#autoRefresh_state {
  font-weight: bold;
}

#st_temp_value {
  font-size: 1.5em;
}
#st_fsUsage {
  margin: 5px auto;
  width: 300px;
  font-size: 0.8em;
  color: #EEEEEE;
  box-shadow: 0 0.2em 0.4em 0 rgba(0,0,0,0.3);
}
.st_elt {
  margin-top: 1em;
}
.sign {
  display: inline-block;
  text-align: center;
  border: solid black 2px;
  border-radius: 0.5em;
  padding: 0.75em;
}
.sign_val {
  margin: 0.5em auto 0 auto;
  padding-top: 0.3em;
  padding-bottom: 0.35em;
  color: #EEEEEE;
  border-radius: 0.25em;
  font-weight: bold;
  box-shadow: 0 0.2em 0.4em 0 rgba(0,0,0,0.3);
}
.sign_on {
  background-color: #00B21F;
}
.sign_on::before {
  content: "ON";
}
.sign_off {
  background-color: #888888;
}
.sign_off::before {
  content: "OFF";
}

.param_hint {
  font-size: 0.8em;
  margin-left: 2em;
}

#mod_buttonPanel {
  display: flex;
  justify-content: space-around;
}
#mod_list {
  text-align: left;
}

#status_error .ok {
  font-size: smaller;
  color: green;
}
#status_error .error {
  color: red;
}
#status_error li {
  font-size: 0.8em;
  color: red;
}
#status_error button {
  margin-top: 10px;
  font-size: 0.9em;
  padding: 0.2em 0.4em;
}

#hist_graph {
  flex: 1;
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
  background-color: #EEEEEE;
  box-shadow: 0 0.2em 0.4em 0 rgba(128,128,128,0.3);
}
#hist_legend {
  display: inline-flex;
  box-sizing: border-box;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  vertical-align: top;
  border-radius: 5px;
  box-shadow: 0 0.2em 0.4em 0 rgba(0,0,0,0.3);
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5px;
  font-size: 0.8em;
}
#hist_legend svg {
  width: 25px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
  background-color: white;
  fill: none;
  stroke-width: 2;
}
#hist_legend button {
  font-weight: bold;
  margin: 0 auto 0.3em auto;
}
.ChartGrid {
  stroke: grey;
}
.curve_cooler {
  stroke: blue;
}
.curve_heater {
  stroke: red;
}
.curve_door {
  stroke: orange;
}
.curve_temp {
  stroke: green;
}
.curve_pid {
  stroke: cyan;
}
.curve_target {
  stroke: purple;
}
