/* Structure of chart, changing this can break the display */
.LineChart {
    position: relative; /* to anchor to axis, their absolute position will be from here */
    border-left: 40px solid;
    border-bottom: 40px solid;
    box-sizing: border-box;
}

.LineChart svg {
    fill: none;
    display: block;
    overflow: visible; /* just to spot when something goes wrong */
    height: 100%;
    width: 100%;
}

.x-axis {
    position: absolute;
    bottom: -40px;
    left: 0px;
    height: 39px;
    width: 100%;
    border-top: 1px solid;
}
.x-axis span {
    position: absolute;
    width: 10%;
    white-space: nowrap;
    text-align: center;
    top: 2px;
}
.x-axis div {
    position: absolute;
    bottom: 5px;
    left: -20px;
    text-align: left;
}

.y-axis {
    position: absolute;
    bottom: 0px;
    left: -39px;
    width: 39px;
    height: 100%;
    border-right: 1px solid;
}
.y-axis span {
    position: absolute;
    right: 2px;
}

.rubberBand {
    display: none;
    position: absolute;
    border: 1px dashed magenta;
}

/* Style part, this is just style rendering and can be modified freely */
.LineChart {
    border-color: #EEEEEE; /* border is use to make room for axis */
}

.x-axis, .y-axis {
    border-color: black; /* stand for actual axis line*/
}

.LineChart svg {
    background-color: white;
    stroke: #33C7FF;
    stroke-width: 2px;
}

.ChartGrid {
    stroke: #FF0000;
    stroke-width: 1px;
}

.lineChart_error {
  display: block;
  margin-top: 2em;
  box-sizing: border-box;
  border-right: solid #EEEEEE 40px;
  text-align: center;
  white-space: pre-wrap;
}

.loader {
  margin: 2em auto;
  width: 4em;
  height: 4em;
  border: 0.7em solid #ffffff;
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
