
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

button {
  border: none;
  color: #CCC;
  background-color: #008CBA;
  border-radius: 3px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.dragElt {
  position: absolute;
}

.component {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 4px;
}

#libraryContainer {
  background-color: #C7D8B7;
  border: solid 2px green;
  padding: 5px;
}

#placementPanel {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #8bb091;
}

/* classes for components drawing */

.cpt_case {
  fill: #252525;
}

.cpt_leg {
  fill: #CCCCCC;
  stroke: #000000;
  stroke-width: 0.05;
}

.cpt_mark {
  fill: #555555;
}

.cpt_delimiter {
  fill: #005500;
}

.board_circle {
  fill: darkgrey;
  stroke: lightgrey;
}
